@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{padding:0; margin:0;}

body {text-align: center; }

.home {background-image: url(../Desafio04/imagenes/imgprincipal.png);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: scroll;}

.titulo {font-family: "Cormorant Garamond", serif;
font-weight: 700;
font-style: normal;
font-size: 20px;
color: white ;
padding-top: 50px;
text-align: center;}

.beauty {font-family: "Cormorant Garamond", serif;
font-weight: 300;
font-style: normal;
font-size: 12em;
color: white;}
.beauty {text-align: left;
margin-bottom: 0;
margin-top: 3vh;
margin-left: 8vw;}

.grown {font-family: "Cormorant Garamond", serif;
font-weight: 300;
font-style: normal;
font-size: 200px;
color: white;}
.grown{text-align: right;
margin-top: 0;
margin-right: 8vw;
margin-bottom: 8vh;}

a { text-decoration:none;
border: solid white;
padding: 10px 30px;
color: white;}
.vinculo-externo{padding-bottom: 10vh;
align-items: center;}

.border {border: solid;
margin: 5vh 3vw;
padding: 2vh 1vw;}

.pagina1 {background-image: url(../Desafio04/imagenes/collar.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;}

.texto1 {
text-align: center;
justify-content: center;
padding: 15vh 15vw;} 
.texto1{display: flex;
flex-direction: column;
text-align: center;
justify-content: space-around;}

.parrafo1 {font-family: "Cormorant Garamond", serif;
font-weight: 300;
font-style: normal;
font-size: 35px;
color: white;}


.parrafo {font-family: "Cormorant Garamond", serif;
font-weight: 400;
font-style: normal;
font-size: 80px;
color: white;}


.pagina2 {background-image: url(imagenes/mujer.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 95vh;}

.pagina2 { display: flex;
justify-content: space-around;
align-items: center;}

.parrafo2 {font-family: "Cormorant Garamond", serif;
font-weight: 400;
font-style: normal;
font-size: 100px;
color: white;}

.parrafo3 {font-family: "Cormorant Garamond", serif;
font-weight: 400;
font-style: normal;
font-size: 80px;
color: white;}

.coleccion1{font-family: "Cormorant Garamond", serif;
font-weight: 200;
font-style: normal;
font-size: 5em;
padding: 5vh;}

.pagina3{display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;}

.aros{border: solid;
padding: 2vh 1vw;
margin-top: 8vh;}

.productos{font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 10vh;
    margin-top: 5vh;}

.titulo1{font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: white;
    margin-bottom: 5vh ;}

.texto2 {font-family: "Cormorant Garamond", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: white;}


.pagina4{background-color:#303F3C ;
padding: 10vh 1vw;
display: flex;
flex-direction: row;
align-items: center;}

.conjunto1 {margin: 10vh 8vw;
padding: 25vh 2vw;
border: solid 10px white;}

.conjunto1 {background-image: url(../Desafio04/imagenes/conjunto1.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.conjunto2 {margin: 10vh 8vw;
    padding: 25vh 2vw;
    border: solid 10px white;}
.conjunto2 {background-image: url(../Desafio04/imagenes/conjunto2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}