.navbar__menu {
  color: lavender;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem calc((100vw - 1200) / 2);
  z-index: 10;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media screen and (max-width: 768px) {
  body {
    background-color: pink; } }

@media screen and (max-width: 280px) {
  body {
    background-color: lavender; } }
